!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body(ng-app='amplitude')
    //if lt IE 7
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    // Add your site or application content here
    .container(ui-view='')
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    // build:js scripts/plugins.js
    script(src='bower_components/bootstrap-sass/js/affix.js')
    script(src='bower_components/bootstrap-sass/js/alert.js')
    script(src='bower_components/bootstrap-sass/js/dropdown.js')
    script(src='bower_components/bootstrap-sass/js/tooltip.js')
    script(src='bower_components/bootstrap-sass/js/modal.js')
    script(src='bower_components/bootstrap-sass/js/transition.js')
    script(src='bower_components/bootstrap-sass/js/button.js')
    script(src='bower_components/bootstrap-sass/js/popover.js')
    script(src='bower_components/bootstrap-sass/js/carousel.js')
    script(src='bower_components/bootstrap-sass/js/scrollspy.js')
    script(src='bower_components/bootstrap-sass/js/collapse.js')
    script(src='bower_components/bootstrap-sass/js/tab.js')
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/controllers/test.js')
    // endbuild
